.homeOuterDiv {
    height: 100vh;
    width: 100%;
}
.HomebuttonDiv {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.HomebuttonDiv h1{
    color: black;
    padding-left: 50px;
}
.createButton{
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    margin-right: 50px;
}
.createButton button {
    height: 80%;
    width: 100%;
    border-radius: 10px;
    background-color: #3cc3bc;
    border: none;
    outline: none;
    font-size: 1.5rem;
    color: white;
    font-weight: 500;
}
.userDetailDiv {
    height: 90%;
    width: 100%;
    overflow-y: scroll;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.UserCardDiv{
    box-shadow: 0 0 10px black;
    border-radius: 10px;
    height: 500px;
    width: 400px;
    margin: 20px;
    position: relative;
}
.cartBagImgDiv{
    height: 40%;
    border-radius: 10px;
    width:100%;
}
.cartBagImgDiv img{
    height: 100%;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.AvtarImgDiv{
    height: 60px;
    width: 60px;
    border-radius: 50px;
    position: absolute;
    left: 50px;
    top: 165px;
}
.AvtarImgDiv img{
    height: 100%;
    width: 100%;
    border-radius: 50px;
}
.cartDetailDiv{
    height: 60%;
    width:90%;
    margin: auto;
}
.cardTitleDiv{
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.cardTitleDiv h2{
    margin-top: 25px;
}
.cardTitleDiv a{
    text-decoration: none;
    color:Black;
}
.cardTitleDiv p{
    padding: 0;
    margin-top: 10px;
}
.cardUserIdDiv{
    height: 20%;
    width: 100%;
}
.iconDiv{
    height: 50%;
    width: 100%;
    display: flex;
}
.cardIcon{
    font-size: 1.5rem;
    padding-left: 5px;
}
.iconDiv h3, p{
    padding-left: 20px;
}
@media screen and (max-width:700px) {
    .HomebuttonDiv h1{
        font-size: 1.5rem;
        padding-left: 10px;
    }
    .createButton{
        width: 30%;
        margin-right: 10px;
    }    
    .createButton button {
        height: 70%;
        width: 100%;
        font-size: .7rem;
    }
}
@media screen and (min-width:700px) and (max-width:1440px){
    .createButton{
        width: 30%;
        margin-right: 30px;
    }
}